/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

a {
    color: #0e0f12;
    text-decoration: none;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: 700;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tfoot {
    background-color: #acaaaa;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
    thead {
        display: none;
        font-size: 16px;
    }

    tbody td {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 5px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    tbody tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #e3b9b9;
    }
}